

.menu{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:  #f4b4b7;
    border-radius: 10px;
    
}

.li {
    float: left;
}

li a {
    display: block;
    color: white;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #faa2af;
}

div {
    float: left;
    height: 470px;
    width: 23%;
    padding: 0 10px;
    color: #3c5d79;
    font-family: 'Montserrat', sans-serif;
    transition: transform 0.3s ease;
  }

  div:hover {
    transform: scale(1.05); /* Augmente légèrement la taille de l'élément au survol */
}

  #left {
    background-color: #FDDADC;
    width: 43%;
    margin-right: 70px;
    margin-left: 30px;
    border-radius: 10px;
  }
  #right {
    background-color: #e0d4eb;
    width: 43%;
    border-radius: 10px;
    
  }

  h1{
    color: #3c5d79;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

.avatar{
    width : 45px;
    height : 45px;
    padding-left: 230px;
}
div .right{
    float : right;
    
}

img{
    width: 140px;
    height: 150px;
}